body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(245, 237, 226);
}

canvas {
    border: 1px solid #ccc;
}

#controls {
    margin-top: 12px;
}

button {
    font-size: 20px;
    padding: 5px 10px;
}